services:
  vault:
    image: vault:1.13.3
    container_name: vault
    cap_add:
      - IPC_LOCK
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=myroot
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    ports:
      - "8200:8200"
    volumes:
      - ./vault-data:/vault/data
      - ./vault-config:/vault/config
    command: vault server -dev -dev-root-token-id=myroot
    networks:
      - app-network

  nginx:
    build: 
      context: ./srcs
      dockerfile: ./nginx/Dockerfile
    container_name: nginx
    ports:
      # - "80:80"        // pour faire plus jolie apres (https://localhost direct)
      # - "443:443"     // pour faire plus jolie apres
      - "8080:80"
      - "8443:443"
    depends_on:
      - backend
      - websocket-pong
      - websocket-tournament
      - vault
    networks:
      - app-network
    volumes:
      - ./srcs/front:/usr/share/nginx/html:ro
      - ./srcs/back/avatars:/usr/share/nginx/html/avatars:ro

  backend:
    build:
      context: ./srcs/back
    container_name: backend
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=myroot
      - VAULT_JWT_PATH=v1/secret/data/jwt
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - ./srcs/back/avatars:/app/srcs/back/avatars
    #   - ./srcs/back:/app
    working_dir: /app
    command: ["npm", "run", "dev"]
    expose:
      - "3000"
    depends_on:
      - vault
    networks:
      - app-network

  websocket-pong:
    build:
      context: .
      dockerfile: Dockerfile.ws-pong
    container_name: websocket-pong
    working_dir: /app
    command: ["node", "ws-pong-server.js"]
    expose:
      - "8081"
    networks:
      - app-network

  websocket-tournament:
    build:
      context: .
      dockerfile: Dockerfile.ws-tournament
    container_name: websocket-tournament
    working_dir: /app
    command: ["node", "ws-tournament-server.js"]
    expose:
      - "8082"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge